.navbar-nav .nav-link {
    font-size: 16px;
    font-weight: bold;
    color:black; 
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #0caf0c; 
}

.icon-link {
    font-size: 20px;
    color:#0caf0c; 
    transition: transform 0.2s ease-in-out;
}

.icon-link:hover {
    transform: scale(1.1);
}
