<div class="packet-container">
  <div *ngFor="let packet of packets" class="packet-card">
      <!-- Eğer resim varsa, göster -->
    <div *ngIf="packet.ImageUrl">
      <img [src]="packet.ImageUrl" alt="{{ packet.Name }}" />
    </div>
    <!-- Eğer resim yoksa, placeholder göster -->
    <div *ngIf="!packet.ImageUrl">
      <p>No image available</p>
    </div>
    <h3>{{ packet.Name }}</h3>
    <p><strong>Fiyat:</strong> {{ packet.Price }}₺</p>
    <p><strong>Ürün Açıklaması:</strong> {{ packet.Description }}</p>
    <p><strong>Miktar:</strong> {{ packet.Quantity }}</p>
  
    <div class="quantity-control">
      <button (click)="decreaseQuantity(packet)" class="quantity-button decrease">-</button>
      <span class="quantity-display">{{ packet.Quantity }}</span>
      <button (click)="increaseQuantity(packet)" class="quantity-button increase">+</button>
    </div>

    <button (click)="addToCart(packet)" class="add-to-cart-btn">Sepete Ekle</button>
  </div>
</div>