<div *ngIf="packet" class="card p-3 shadow-sm" style="width: 18rem;">
    <!-- Ürün Görseli -->
    <div class="user-img" [ngStyle]="{'background-image': 'url(' + packet.imgUrl + ')'}">
    </div>
    
    <!-- Paket İçeriği -->
    <div class="card-body text-center">
      <h5 class="card-title">{{ packet.name }}</h5>
      <p class="card-text">{{ packet.description }}</p>
    
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-outline-danger btn-sm me-2" (click)="decreaseQuantity()">
          <i class="fa-solid fa-minus"></i>
        </button>
        <span class="mx-2">{{ quantity }}</span>
        <button class="btn btn-outline-success btn-sm ms-2" (click)="increaseQuantity()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    
      <button class="btn btn-primary mt-3" (click)="addToCart()">
        <i class="fa-solid fa-cart-shopping"></i> Sepete Ekle
      </button>
    </div>
  </div>
  